.catalog {
  padding: 5rem 0;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  &_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &_top {
      max-width: 700px;
    }

    &_bottom {
      max-width: 700px;
    }
  }
}


.firstImage {
  cursor: pointer;
  vertical-align: top;
  width: 100%;
  max-width: 650px;
}

.secondImage {
  cursor: pointer;
  vertical-align: top;
  width: 100%;
  max-width: 650px;
}

.thirdImage {
  cursor: pointer;
  vertical-align: top;
  width: 100%;
  max-width: 650px;
}

@media screen and (max-width: 769px) {

  .catalog {
    padding: 2rem 0;
  }
}

@media screen and (max-width: 550px) {
  .catalog__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

}