//fs
.fs {
  background-color: #4A2B33;
  padding-bottom: 4rem;
}
.fs__content {
  height: 644px;
  background-image: url("../Image/main/fs/fs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 10px;
}