//header
.header {
  padding: 1.5rem 0;
  background-color: #4A2B33;
  position: sticky;
  top: 0;
  left: 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  max-width: 500px;
}

.header__list {
  display: flex;
  gap: 2rem;
}

.header__list_link {
  color: #D27487;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .2s;

  &:hover {
    color: darksalmon;
    background-size: 100% 2px;
  }
}

.header__social {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3rem;
}

.text__logo {
  font-family: 'Azeret Mono', monospace;
  font-size: 64px;
  color: #D27487;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;
  padding: 0;
  margin: 0;

  &:hover {
    color: darksalmon;
  }
}

.header__social > a > img {
  transition: all .3s ease-in-out;
}

.header__social > a > img:hover {
  cursor: pointer;
  filter: sepia(1) hue-rotate(3deg) saturate(3);
}

@media screen and (max-width: 769px) {

  .navbar {
    display: none;
  }
  .header__social {
    width: auto;
    gap: 2rem;
  }
}

@media screen and (max-width: 450px) {
  .header__social {
    display: none;
  }

}