@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  padding: 3rem 0;
  background-color: #4A2B33;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  max-width: 500px;
}

.header__list {
  display: flex;
  gap: 2rem;
}

.header__list_link {
  color: #D27487;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s;
}
.header__list_link:hover {
  color: darksalmon;
  background-size: 100% 2px;
}

.header__social {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3rem;
}

.text__logo {
  font-family: "Azeret Mono", monospace;
  font-size: 64px;
  color: #D27487;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  padding: 0;
  margin: 0;
}
.text__logo:hover {
  color: darksalmon;
}

.header__social > a > img {
  transition: all 0.3s ease-in-out;
}
.header__social > a > img:hover {
  filter: sepia(1) hue-rotate(3deg) saturate(3);
}

@media screen and (max-width: 769px) {
  .navbar {
    display: none;
  }
  .header__social {
    width: auto;
    gap: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .header__social {
    display: none;
  }
}
.fs {
  background-color: #4A2B33;
  padding-bottom: 4rem;
}

.fs__content {
  height: 644px;
  background-image: url("../Image/main/fs/fs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 999px) {
  .fs__content {
    height: 500px;
  }
}
@media screen and (max-width: 769px) {
  .fs__content {
    height: 400px;
    background-size: contain;
  }
}
@media screen and (max-width: 660px) {
  .fs__content {
    height: 350px;
  }
}
@media screen and (max-width: 520px) {
  .fs__content {
    height: 250px;
  }
}
@media screen and (max-width: 420px) {
  .fs__content {
    height: 200px;
  }
}
@media screen and (max-width: 375px) {
  .fs__content {
    height: 150px;
  }
}
.info {
  padding: 10rem 0;
}

.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.title__info {
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.title__info:hover {
  color: #D27487;
  background-size: 100% 2px;
}

.text__info {
  font-size: 32px;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .info {
    padding: 4rem 0;
  }
}
.menu {
  padding: 5rem 0;
  background-color: #E9E9E3;
}

.menu__content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}
.menu__content_text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-right: 1rem;
}
.menu__content_menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 100%;
  background-color: #fff;
}

.title__menu {
  color: #6F6F64;
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
}

.text__menu {
  margin-top: 1rem;
  color: #6F6F64;
  font-size: 32px;
  max-width: 460px;
}

.btns__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn__light_active {
  cursor: pointer;
  width: 100%;
  color: #fff;
  padding: 1rem 6rem;
  background-color: #6F6F64;
  border: 2px solid #6F6F64;
  transition: all 0.3s ease-in-out;
}
.btn__light_active:hover {
  color: #6F6F64;
  background-color: #fff;
}

.btn__light {
  cursor: pointer;
  width: 100%;
  color: #6F6F64;
  padding: 1rem 6rem;
  background-color: inherit;
  border: 2px solid #6F6F64;
  transition: all 0.3s ease-in-out;
}
.btn__light:hover {
  color: #fff;
  background-color: #6F6F64;
}

.content_menu_title_logo {
  color: #000;
  font-size: 50px;
  font-family: "Azeret Mono", monospace;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .menu__content {
    flex-direction: column;
  }
  .btns__menu {
    max-width: 300px;
  }
  .btn__light {
    padding: 1rem 4rem;
  }
  .btn__light_active {
    padding: 1rem 4rem;
  }
  .menu__content_text {
    align-items: center;
    justify-content: center;
  }
  .title__menu {
    text-align: center;
  }
  .text__menu {
    text-align: center;
  }
}
.booking {
  padding: 6rem 0;
  background-color: #AA9E54;
}

.booking__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.booking__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__title {
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
  text-align: center;
}

.booking__text {
  color: #fff;
  font-size: 28px;
  text-align: center;
  max-width: 235px;
}

@media screen and (max-width: 769px) {
  .booking {
    padding: 2rem 0;
  }
  .booking__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
}
.catalog {
  padding: 5rem 0;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.catalog__content_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.catalog__content_left_top {
  max-width: 700px;
}
.catalog__content_left_bottom {
  max-width: 700px;
}

.firstImage {
  cursor: pointer;
  vertical-align: top;
  width: 100%;
  max-width: 650px;
}

.secondImage {
  cursor: pointer;
  vertical-align: top;
  width: 100%;
  max-width: 650px;
}

.thirdImage {
  cursor: pointer;
  vertical-align: top;
  width: 100%;
  max-width: 650px;
}

@media screen and (max-width: 769px) {
  .catalog {
    padding: 2rem 0;
  }
}
@media screen and (max-width: 550px) {
  .catalog__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
.footer {
  padding: 1rem 0;
  background-color: #cdcdcd;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer_company {
  color: #696969;
}

.footer_link {
  color: #696969;
}
.footer_link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 520px) {
  .footer__content {
    align-items: baseline;
  }
  .footer_list {
    flex-direction: column;
  }
}
* {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

@media (max-width: 767px) {
  .text__logo {
    font-size: calc(20px + 50 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 767px) {
  .text__logo {
    font-size: calc(20px + 44 * (100vw / 1300));
  }
}

@media (max-width: 767px) {
  .text__info {
    font-size: calc(18px + 19.4 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 767px) {
  .text__info {
    font-size: calc(18px + 14 * (100vw / 1300));
  }
}

@media (max-width: 767px) {
  .text__menu {
    font-size: calc(18px + 19.4 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 767px) {
  .text__menu {
    font-size: calc(18px + 14 * (100vw / 1300));
  }
}

@media (max-width: 767px) {
  .content_menu_title_logo {
    font-size: calc(24px + 33.2 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 767px) {
  .content_menu_title_logo {
    font-size: calc(24px + 26 * (100vw / 1300));
  }
}

@media (max-width: 767px) {
  .booking__text {
    font-size: calc(18px + 15.4 * ((100vw - 320px) / 1300));
  }
}
@media (max-width: 767px) {
  .booking__text {
    font-size: calc(18px + 10 * (100vw / 1300));
  }
}

/*# sourceMappingURL=index.module.css.map */
