@tailwind base;
@tailwind components;
@tailwind utilities;
@import "header.module.scss";
@import "fs.module.scss";
@import "info.module";
@import "menu.module";
@import "booking.module";
@import "catalog.module";
@import "footer.module";

//global
* {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

//calc
$maxWidth: 1300;

@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $pcSize - $mobSize* 0.7;

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
  }

  @media (max-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
}

//@include adaptive-font(max, min);

.text__logo {
  @include adaptive-font(64, 20);
}

.text__info {
  @include adaptive-font(32, 18);
}

.text__menu {
  @include adaptive-font(32, 18);
}

.content_menu_title_logo {
  @include adaptive-font(50, 24);
}

.booking__text {
  @include adaptive-font(28, 18);
}


