.menu {
  padding: 5rem 0;
  background-color: #E9E9E3;
}

.menu__content {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  &_text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-right: 1rem;
  }

  &_menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 4rem;
    width: 100%;
    background-color: #fff;
  }
}

//text
.title__menu {
  color: #6F6F64;
  font-family: "Azeret Mono", monospace;
  font-size: 20px;
}

.text__menu {
  margin-top: 1rem;
  color: #6F6F64;
  font-size: 32px;
  max-width: 460px;
}

//button
.btns__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn__light_active {
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: #fff;
  padding: 1rem 6rem;
  background-color: #6F6F64;
  border: 2px solid #6F6F64;
  transition: all .3s ease-in-out;

  &:hover {
    color: #6F6F64;
    background-color: #fff;
  }
}

.btn__light {
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: #6F6F64;
  padding: 1rem 6rem;
  background-color: inherit;
  border: 2px solid #6F6F64;
  transition: all .3s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #6F6F64;
  }
}

//content__menu

.content_menu_title_logo {
  color: #000;
  font-size: 50px;
  font-family: "Azeret Mono", monospace;
  text-align: center;
}

.content_menu_list {

}

@media screen and (max-width: 769px) {

  .menu__content {
    flex-direction: column;
  }

  .btns__menu {
    max-width: 300px;
  }

  .btn__light {
    padding: 1rem 4rem;
    &_active {
      padding: 1rem 4rem;
    }
  }

  .menu__content_text {
    align-items: center;
    justify-content: center;
  }

  .title__menu {
    text-align: center;
  }

  .text__menu {
    text-align: center;
  }
}